<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/cir.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/radius_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,39},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>game/switch-mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/switch-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1},{85,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,36}</string>
			</dict>
			<key>game/switch-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1},{85,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,36}</string>
			</dict>
			<key>game/switch-thumb.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,39},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>game/radius_box_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,39},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>game/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{450,102}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>450</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</plist>