<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/cir.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/radius_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,145},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>game/radius_box_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,145},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>game/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,103},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>
			<key>game/p_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,103},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/p_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,189},{149,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,149}</string>
			</dict>
			<key>game/p_mouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,336},{66,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,22}</string>
			</dict>
			<key>game/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,432},{177,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,103}</string>
			</dict>
			<key>game/index.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,492}</string>
			</dict>
			<key>game/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,360},{278,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,70}</string>
			</dict>
			<key>game/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{441,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,234}</string>
			</dict>
			<key>game/mask1.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,198},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>game/mask2.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{192,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{1020,730}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>730</integer>
		</dict>
	</dict>
</plist>